html {
  background-color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {
    display: inline;
}
footer {
    background-color: whitesmoke;
}

a.hover {
    text-decoration: underline;
}